.form_component {
  width: 50%;
  margin: 0 auto;
  background-color: #f4efef;

  border-radius: 2px;
}

.form_header {
  text-align: center;
  margin-bottom: 20px;
}

.form_header h1 {
  font-size: 36px;
  margin: 0;
}

.form_body {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form_group {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
  border: solid;
  border-color: #3367d6;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
label {
  margin-left: 2%;
}

.form_group label {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}

input,
textarea {
  width: 98%;
  font-size: 24px;
  margin: 2px;
}

.form_group textarea {
  height: 200px;
}

select {
  width: 100%;
  font-size: 24px;
  border-radius: 3px;
  border: solid;
  border-color: #3367d6;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}

select option {
  font-size: 24px;
}


